[Desktop Entry]
Version=1.0
Type=Application
Name=DeSmuME (Gtk)
Comment=Nintento DS emulator
TryExec=desmume
Exec=desmume
Icon=DeSmuME
Categories=GNOME;GTK;Game;Emulator;
MimeType=application/x-nintendo-ds-rom;
