<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Advanscene_AutoDetectRomSaveType</key>
	<true/>
	<key>CoreControl_EnableAutoFrameSkip</key>
	<true/>
	<key>CoreControl_EnableCheats</key>
	<true/>
	<key>CoreControl_EnableSpeedLimit</key>
	<true/>
	<key>CoreControl_SpeedScalar</key>
	<real>1</real>
	<key>Debug_GDBStubEnableARM9</key>
	<false/>
	<key>Debug_GDBStubEnableARM7</key>
	<false/>
	<key>Debug_GDBStubPortARM9</key>
	<integer>20000</integer>
	<key>Debug_GDBStubPortARM7</key>
	<integer>20001</integer>
	<key>DisplayView_Deposterize</key>
	<false/>
	<key>DisplayView_FiltersPreferGPU</key>
	<true/>
	<key>DisplayView_Mode</key>
	<integer>2</integer>
	<key>DisplayView_OutputFilter</key>
	<integer>1</integer>
	<key>DisplayView_Rotation</key>
	<integer>0</integer>
	<key>DisplayView_ShowHUD</key>
	<true/>
	<key>DisplayView_ShowStatusBar</key>
	<true/>
	<key>DisplayView_Size</key>
	<integer>100</integer>
	<key>DisplayView_UseBilinearOutput</key>
	<true/>
	<key>DisplayView_UseVerticalSync</key>
	<false/>
	<key>DisplayView_VideoFilter</key>
	<integer>0</integer>
	<key>DisplayViewCombo_Gap</key>
	<integer>0</integer>
	<key>DisplayViewCombo_Order</key>
	<integer>0</integer>
	<key>DisplayViewCombo_Orientation</key>
	<integer>0</integer>
	<key>Emulation_AdvancedBusLevelTiming</key>
	<true/>
	<key>Emulation_BIOSEmulateSWI</key>
	<true/>
	<key>Emulation_BIOSPatchDelayLoopSWI</key>
	<false/>
	<key>Emulation_CPUEmulationEngine</key>
	<integer>0</integer>
	<key>Emulation_EmulateEnsata</key>
	<false/>
	<key>Emulation_FirmwareBoot</key>
	<false/>
	<key>Emulation_MaxJITBlockSize</key>
	<integer>12</integer>
	<key>Emulation_RigorousTiming</key>
	<false/>
	<key>Emulation_UseDebugConsole</key>
	<false/>
	<key>Emulation_UseExternalBIOSImages</key>
	<false/>
	<key>Emulation_UseExternalFirmwareImage</key>
	<false/>
	<key>EmulationSlot1_DeviceType</key>
	<integer>1</integer>
	<key>FirmwareConfig_Birthday</key>
	<date>2011-06-23T07:00:00Z</date>
	<key>FirmwareConfig_FavoriteColor</key>
	<integer>7</integer>
	<key>FirmwareConfig_Language</key>
	<integer>1</integer>
	<key>FirmwareConfig_Message</key>
	<string>DeSmuME makes you happy!</string>
	<key>FirmwareConfig_Nickname</key>
	<string>DeSmuME</string>
	<key>General_AppFirstTimeRun</key>
	<dict/>
	<key>General_AutoloadROMOption</key>
	<integer>10000</integer>
	<key>General_DisplayWindowRestorableStates</key>
	<array/>
	<key>General_DoNotAskMigrate</key>
	<false/>
	<key>General_ExecuteROMOnLoad</key>
	<true/>
	<key>General_StreamLoadRomData</key>
	<true/>
	<key>General_WillRestoreDisplayWindows</key>
	<true/>
	<key>HUD_FrameCounter</key>
	<false/>
	<key>HUD_FramesPerSecond</key>
	<false/>
	<key>HUD_GraphicalInput</key>
	<false/>
	<key>HUD_Input</key>
	<false/>
	<key>HUD_LagCounter</key>
	<false/>
	<key>HUD_Microphone</key>
	<false/>
	<key>HUD_RealTimeClock</key>
	<false/>
	<key>Input_AudioInputMode</key>
	<integer>1</integer>
	<key>Input_ControllerMappings</key>
	<dict>
		<key>Up</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>126</string>
				<key>elementName</key>
				<string>Up Arrow</string>
			</dict>
		</array>
		<key>Down</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>125</string>
				<key>elementName</key>
				<string>Down Arrow</string>
			</dict>
		</array>
		<key>Left</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>123</string>
				<key>elementName</key>
				<string>Left Arrow</string>
			</dict>
		</array>
		<key>Right</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>124</string>
				<key>elementName</key>
				<string>Right Arrow</string>
			</dict>
		</array>
		<key>A</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>7</string>
				<key>elementName</key>
				<string>X</string>
			</dict>
		</array>
		<key>B</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>6</string>
				<key>elementName</key>
				<string>Z</string>
			</dict>
		</array>
		<key>X</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>1</string>
				<key>elementName</key>
				<string>S</string>
			</dict>
		</array>
		<key>Y</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>0</string>
				<key>elementName</key>
				<string>A</string>
			</dict>
		</array>
		<key>L</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>12</string>
				<key>elementName</key>
				<string>Q</string>
			</dict>
		</array>
		<key>R</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>13</string>
				<key>elementName</key>
				<string>W</string>
			</dict>
		</array>
		<key>Start</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>36</string>
				<key>elementName</key>
				<string>Return</string>
			</dict>
		</array>
		<key>Select</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>48</string>
				<key>elementName</key>
				<string>Tab</string>
			</dict>
		</array>
		<key>Touch</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventMouse</string>
				<key>deviceName</key>
				<string>Mouse</string>
				<key>elementCode</key>
				<string>0</string>
				<key>elementName</key>
				<string>Primary Button</string>
				<key>useInputForIntCoord</key>
				<true/>
			</dict>
		</array>
		<key>Microphone</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>50</string>
				<key>elementName</key>
				<string>` (Accent)</string>
				<key>intValue1</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>Lid</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>51</string>
				<key>elementName</key>
				<string>Delete (Backspace)</string>
			</dict>
		</array>
		<key>Debug</key>
		<array/>
		<key>Guitar Grip: Green</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>14</string>
				<key>elementName</key>
				<string>E</string>
			</dict>
		</array>
		<key>Guitar Grip: Red</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>15</string>
				<key>elementName</key>
				<string>R</string>
			</dict>
		</array>
		<key>Guitar Grip: Yellow</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>17</string>
				<key>elementName</key>
				<string>T</string>
			</dict>
		</array>
		<key>Guitar Grip: Blue</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>16</string>
				<key>elementName</key>
				<string>Y</string>
			</dict>
		</array>
		<key>Piano: C</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>8</string>
				<key>elementName</key>
				<string>C</string>
			</dict>
		</array>
		<key>Piano: C#</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>3</string>
				<key>elementName</key>
				<string>F</string>
			</dict>
		</array>
		<key>Piano: D</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>9</string>
				<key>elementName</key>
				<string>V</string>
			</dict>
		</array>
		<key>Piano: D#</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>5</string>
				<key>elementName</key>
				<string>G</string>
			</dict>
		</array>
		<key>Piano: E</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>11</string>
				<key>elementName</key>
				<string>B</string>
			</dict>
		</array>
		<key>Piano: F</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>45</string>
				<key>elementName</key>
				<string>N</string>
			</dict>
		</array>
		<key>Piano: F#</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>38</string>
				<key>elementName</key>
				<string>J</string>
			</dict>
		</array>
		<key>Piano: G</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>46</string>
				<key>elementName</key>
				<string>M</string>
			</dict>
		</array>
		<key>Piano: G#</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>40</string>
				<key>elementName</key>
				<string>K</string>
			</dict>
		</array>
		<key>Piano: A</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>43</string>
				<key>elementName</key>
				<string>, (Comma)</string>
			</dict>
		</array>
		<key>Piano: A#</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>37</string>
				<key>elementName</key>
				<string>L</string>
			</dict>
		</array>
		<key>Piano: B</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>47</string>
				<key>elementName</key>
				<string>. (Period)</string>
			</dict>
		</array>
		<key>Piano: High C</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>44</string>
				<key>elementName</key>
				<string>/</string>
			</dict>
		</array>
		<key>Paddle</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>31</string>
				<key>elementName</key>
				<string>O</string>
				<key>intValue1</key>
				<integer>-5</integer>
				<key>isInputAnalog</key>
				<false/>
			</dict>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>35</string>
				<key>elementName</key>
				<string>P</string>
				<key>intValue1</key>
				<integer>5</integer>
				<key>isInputAnalog</key>
				<false/>
			</dict>
		</array>
		<key>Autohold - Set</key>
		<array/>
		<key>Autohold - Clear</key>
		<array/>
		<key>HUD</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>4</string>
				<key>elementName</key>
				<string>H</string>
			</dict>
		</array>
		<key>Execute/Pause</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>117</string>
				<key>elementName</key>
				<string>Forward Delete</string>
			</dict>
		</array>
		<key>Frame Advance</key>
		<array/>
		<key>Frame Jump</key>
		<array/>
		<key>Reset</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>121</string>
				<key>elementName</key>
				<string>Page Down</string>
			</dict>
		</array>
		<key>Mute/Unmute</key>
		<array/>
		<key>Load State Slot</key>
		<array/>
		<key>Save State Slot</key>
		<array/>
		<key>Copy Screen</key>
		<array/>
		<key>Rotate Display Left</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>33</string>
				<key>elementName</key>
				<string>[</string>
				<key>intValue0</key>
				<integer>-90</integer>
			</dict>
		</array>
		<key>Rotate Display Right</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>30</string>
				<key>elementName</key>
				<string>]</string>
				<key>intValue0</key>
				<integer>90</integer>
			</dict>
		</array>
		<key>Toggle All Displays</key>
		<array/>
		<key>Set Speed</key>
		<array>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>27</string>
				<key>elementName</key>
				<string>- (Dash)</string>
				<key>floatValue0</key>
				<string>0.5</string>
			</dict>
			<dict>
				<key>deviceCode</key>
				<string>NSEventKeyboard</string>
				<key>deviceName</key>
				<string>Keyboard</string>
				<key>elementCode</key>
				<string>24</string>
				<key>elementName</key>
				<string>=</string>
				<key>floatValue0</key>
				<integer>2</integer>
			</dict>
		</array>
		<key>Enable/Disable Speed Limiter</key>
		<array/>
		<key>Enable/Disable Auto Frame Skip</key>
		<array/>
		<key>Enable/Disable Cheats</key>
		<array/>
		<key>Enable/Disable GPU State</key>
		<array/>
	</dict>
	<key>Input_SavedDeviceProperties</key>
	<dict/>
	<key>Input_SavedProfiles</key>
	<array/>
	<key>Render3D_DepthComparisonThreshold</key>
	<integer>0</integer>
	<key>Render3D_EdgeMarking</key>
	<true/>
	<key>Render3D_Fog</key>
	<true/>
	<key>Render3D_FragmentSamplingHack</key>
	<true/>
	<key>Render3D_HighPrecisionColorInterpolation</key>
	<true/>
	<key>Render3D_LineHack</key>
	<true/>
	<key>Render3D_Multisample</key>
	<false/>
	<key>Render3D_RenderingEngine</key>
	<integer>1</integer>
	<key>Render3D_Textures</key>
	<true/>
	<key>Render3D_Threads</key>
	<integer>0</integer>
	<key>Slot2_GBA_CartridgePath</key>
	<string></string>
	<key>Slot2_GBA_SRAMPath</key>
	<string></string>
	<key>Slot2_LoadedDevice</key>
	<integer>1</integer>
	<key>Slot2_MPCF_DirectoryPath</key>
	<string></string>
	<key>Slot2_MPCF_DiskImagePath</key>
	<string></string>
	<key>Slot2_MPCF_PathOption</key>
	<integer>0</integer>
	<key>Sound_AudioOutputEngine</key>
	<integer>58325</integer>
	<key>Sound_Volume</key>
	<integer>100</integer>
	<key>SPU_AdvancedLogic</key>
	<true/>
	<key>SPU_InterpolationMode</key>
	<integer>2</integer>
	<key>SPU_SyncMethod</key>
	<integer>2</integer>
	<key>SPU_SyncMode</key>
	<integer>1</integer>
</dict>
</plist>
