<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nds</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon_NintendoDS_ROM.icns</string>
			<key>CFBundleTypeName</key>
			<string>Nintendo DS ROM</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.nintendo.rom.ds</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ds.gba</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon_NintendoGBA_ROM.icns</string>
			<key>CFBundleTypeName</key>
			<string>Gameboy Advance ROM</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.nintendo.rom.gba</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dst</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon_SaveState.icns</string>
			<key>CFBundleTypeName</key>
			<string>DeSmuME Save State</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.desmume.savestate</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dsv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon_ROMSave.icns</string>
			<key>CFBundleTypeName</key>
			<string>DeSmuME ROM Save</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.desmume.romsave</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dfc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon_FirmwareConfig.icns</string>
			<key>CFBundleTypeName</key>
			<string>DeSmuME Firmware Configuration</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.desmume.firmwareconfig</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dct</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon_ROMCheats.icns</string>
			<key>CFBundleTypeName</key>
			<string>DeSmuME ROM Cheats</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.desmume.romcheats</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sav</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon_NoGBA_ROMSave.icns</string>
			<key>CFBundleTypeName</key>
			<string>No$GBA ROM Save</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>de.emubase.nocash.romsave.gba</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>duc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon_ActionReplaySave.icns</string>
			<key>CFBundleTypeName</key>
			<string>Action Replay Save</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.codejunkies.actionreplay.save.nintendo.ds</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon_HWImage_NDS.icns</string>
			<key>CFBundleTypeName</key>
			<string>Nintendo DS Hardware Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.nintendo.hwimage.ds</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon_ADVANsCEneDatabase.icns</string>
			<key>CFBundleTypeName</key>
			<string>ADVANsCEne Database</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.advanscene.database.nintendo.ds</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dat</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon_R4CheatDatabase.icns</string>
			<key>CFBundleTypeName</key>
			<string>R4 Cheats Database</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.gbatemp.cheats.database.nintendo.ds</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon_DeSmuME</string>
	<key>CFBundleIdentifier</key>
	<string>org.desmume.DeSmuME</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>v0.9.10</string>
	<key>CFBundleSignature</key>
	<string>DSmM</string>
	<key>CFBundleVersion</key>
	<string>0.9.10</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.entertainment</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright ©2012-2013 DeSmuME Team. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu (Legacy)</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DeSmuME Save State</string>
			<key>UTTypeIconFile</key>
			<string>AppIcon_SaveState.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.desmume.savestate</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dst</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DeSmuME ROM Save</string>
			<key>UTTypeIconFile</key>
			<string>AppIcon_ROMSave.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.desmume.romsave</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dsv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DeSmuME Firmware Configuration</string>
			<key>UTTypeIconFile</key>
			<string>AppIcon_FirmwareConfig.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.desmume.firmwareconfig</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dfc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DeSmuME ROM Cheats</string>
			<key>UTTypeIconFile</key>
			<string>AppIcon_ROMCheats.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.desmume.romcheats</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dct</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Nintendo DS ROM</string>
			<key>UTTypeIconFile</key>
			<string>AppIcon_NintendoDS_ROM.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.nintendo.rom.ds</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nds</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Gameboy Advance ROM</string>
			<key>UTTypeIconFile</key>
			<string>AppIcon_NintendoGBA_ROM.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.nintendo.rom.gba</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ds.gba</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>No$GBA ROM Save</string>
			<key>UTTypeIconFile</key>
			<string>AppIcon_NoGBA_ROMSave.icns</string>
			<key>UTTypeIdentifier</key>
			<string>de.emubase.nocash.romsave.gba</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sav</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Action Replay Save</string>
			<key>UTTypeIconFile</key>
			<string>AppIcon_ActionReplaySave.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.codejunkies.actionreplay.save.nintendo.ds</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>duc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Nintendo DS Hardware Image</string>
			<key>UTTypeIconFile</key>
			<string>AppIcon_HWImage_NDS.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.nintendo.hwimage.ds</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>bin</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ADVANsCEne Database</string>
			<key>UTTypeIconFile</key>
			<string>AppIcon_ADVANsCEneDatabase.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.advanscene.database.nintendo.ds</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>R4 Cheats Database</string>
			<key>UTTypeIconFile</key>
			<string>AppIcon_R4CheatDatabase.icns</string>
			<key>UTTypeIdentifier</key>
			<string>net.gbatemp.cheats.database.nintendo.ds</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dat</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
