<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>org.desmume.DeSmuME-OpenEmu</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>v0.9.12 (OpenEmu Plug-in)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>0.9.12</string>
	<key>CSResourcesFileMapped</key>
	<string>yes</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012-2017 DeSmuME Team. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>OEGameCoreController</string>
	<key>OEGameCoreClass</key>
	<string>NDSGameCore</string>
	<key>OEGameCoreOptions</key>
	<dict>
		<key>openemu.system.nds</key>
		<dict>
			<key>OEGameCoreSupportsCheatCode</key>
			<true/>
		</dict>
	</dict>
	<key>OEGameCorePlayerCount</key>
	<string>1</string>
	<key>OEProjectURL</key>
	<string>http://desmume.org/</string>
	<key>OESystemIdentifiers</key>
	<array>
		<string>openemu.system.nds</string>
	</array>
	<key>SUEnableAutomaticChecks</key>
	<string>1</string>
	<key>SUFeedURL</key>
	<string>https://raw.github.com/OpenEmu/OpenEmu-Update/master/desmume_appcast.xml</string>
</dict>
</plist>
