/*  Copyright (C) 2006 yopyop
    yopyop156@ifrance.com
    yopyop156.ifrance.com

    This file is part of DeSmuME

    DeSmuME is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    DeSmuME is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with DeSmuME; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
*/

#include <windows.h>
#include "resource.h"
 
IconDeSmuME ICON MOVEABLE PURE LOADONCALL DISCARDABLE "DeSmuME.ico"
//IconDeSmuME ICON MOVEABLE PURE LOADONCALL DISCARDABLE "DeSmuME3D.ico"

// FRENCH ////////////////////////////////////////////////////////////////////

LANGUAGE LANG_FRENCH,SUBLANG_FRENCH

MENU_PRINCIPAL MENU 
{
 POPUP "&Fichier"
 {
  MENUITEM "&Ouvrir", IDM_OPEN
  MENUITEM "&Info rom", IDM_GAME_INFO
  MENUITEM SEPARATOR
  MENUITEM "&Printscreen", IDM_PRINTSCREEN
  MENUITEM "&Quick Printscreen", IDM_QUICK_PRINTSCREEN
  MENUITEM SEPARATOR
  MENUITEM "&Quitter", IDM_QUIT
 }
 POPUP "&Emulation"
 {
  MENUITEM "&Execute", IDM_EXEC
  MENUITEM "&Pause", IDM_PAUSE
  MENUITEM "&Reset", IDM_RESET
 }
 POPUP "&Outils"
 {
  MENUITEM "&Desassembleur", IDM_DISASSEMBLER
  MENUITEM "Visualiser la &memoire", IDM_MEMORY
  MENUITEM "Visualiser les &registres", IDM_IOREG
//  MENUITEM "Visualiser le &log", IDM_LOG
  MENUITEM "Visualiser les &palettes", IDM_PAL
  MENUITEM "Visualiser les &tiles", IDM_TILE
  MENUITEM "Visualiser les m&aps", IDM_MAP
  MENUITEM "Visualiser les &oams", IDM_OAM
  MENUITEM SEPARATOR
  POPUP "&Visualiser les &couches"
  {
   MENUITEM "Main BG 0", IDM_MBG0, CHECKED
   MENUITEM "Main BG 1", IDM_MBG1, CHECKED
   MENUITEM "Main BG 2", IDM_MBG2, CHECKED
   MENUITEM "Main BG 3", IDM_MBG3, CHECKED
   MENUITEM SEPARATOR
   MENUITEM "Sub BG 0", IDM_SBG0, CHECKED
   MENUITEM "Sub BG 1", IDM_SBG1, CHECKED
   MENUITEM "Sub BG 2", IDM_SBG2, CHECKED
   MENUITEM "Sub BG 3", IDM_SBG3, CHECKED
  }
 }
}


IDD_MEM_VIEWER DIALOG DISCARDABLE  0, 0, 428, 178
STYLE   WS_SYSMENU
CAPTION "Visualisation de la memoire"
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "8 bit",IDC_8_BIT,"Button",BS_AUTORADIOBUTTON | WS_GROUP,10,4,29,10
    CONTROL         "16 bit",IDC_16_BIT,"Button",BS_AUTORADIOBUTTON,44,4,33,10
    CONTROL         "32 bit",IDC_32_BIT,"Button",BS_AUTORADIOBUTTON,82,4,33,10
    LTEXT           "Aller ÅE:",IDC_STATIC,130,4,33,10
    EDITTEXT        IDC_GOTOMEM,155,1,82,14,ES_UPPERCASE | ES_AUTOHSCROLL | ES_WANTRETURN | WS_GROUP
    PUSHBUTTON      "&GO",IDC_GO,240,1,20,14
    CONTROL         "Auto-update",IDC_AUTO_UPDATE,"Button", BS_AUTOCHECKBOX | WS_TABSTOP,350,1,75,14
    CONTROL         "Edit", IDC_MEM_BOX,"MemViewBox",WS_TABSTOP | WS_VSCROLL,4,16,424,142,WS_EX_CLIENTEDGE 
    PUSHBUTTON      "&Fermer",IDC_FERMER,185,162,50,14
END

IDD_DESASSEMBLEUR_VIEWER DIALOG DISCARDABLE  0, 0, 380, 186
STYLE   WS_SYSMENU
CAPTION "Desassembleur"
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "Auto ",IDC_AUTO_DES,"Button",BS_AUTORADIOBUTTON | WS_GROUP,10,4,35,10
    CONTROL         "ARM",IDC_ARM,"Button",BS_AUTORADIOBUTTON,44,4,35,10
    CONTROL         "Thumb",IDC_THUMB,"Button",BS_AUTORADIOBUTTON,82,4,40,10
    LTEXT           "Aller ÅE:",IDC_STATIC,130,4,33,10
    EDITTEXT        IDC_GOTODES,155,1,82,14,ES_UPPERCASE | ES_AUTOHSCROLL | 
                    ES_WANTRETURN | WS_GROUP
    PUSHBUTTON      "&GO",IDC_GO,240,1,20,14
    CONTROL         "Auto-update",IDC_AUTO_UPDATE,"Button", BS_AUTOCHECKBOX | WS_TABSTOP,300,1,75,14
    CONTROL         "Edit", IDC_DES_BOX,"DesViewBox",WS_TABSTOP | WS_VSCROLL,4,16,296,150,WS_EX_CLIENTEDGE 
    PUSHBUTTON      "&Fermer",IDC_FERMER,185,170,50,14
    EDITTEXT        IDC_SETPNUM,5,170,65,14,ES_UPPERCASE | ES_AUTOHSCROLL | WS_GROUP | ES_NUMBER
    PUSHBUTTON      "&Step",IDC_STEP,75,170,50,14
    LTEXT           "R0   :",IDC_STATIC,304,16,17,8
    LTEXT           "R1   :",IDC_STATIC,304,24,17,8
    LTEXT           "R2   :",IDC_STATIC,304,32,17,8
    LTEXT           "R3   :",IDC_STATIC,304,40,17,8
    LTEXT           "R4   :",IDC_STATIC,304,48,17,8
    LTEXT           "R5   :",IDC_STATIC,304,56,17,8
    LTEXT           "R6   :",IDC_STATIC,304,64,17,8
    LTEXT           "R7   :",IDC_STATIC,304,72,17,8
    LTEXT           "R8   :",IDC_STATIC,304,80,17,8
    LTEXT           "R9   :",IDC_STATIC,304,88,17,8
    LTEXT           "R10 :",IDC_STATIC,304,96,17,8
    LTEXT           "R11 :",IDC_STATIC,304,104,17,8
    LTEXT           "R12 :",IDC_STATIC,304,112,17,8
    LTEXT           "SP :",IDC_STATIC,304,120,17,8
    LTEXT           "LR :",IDC_STATIC,304,128,17,8
    LTEXT           "PC :",IDC_STATIC,304,136,17,8
    LTEXT           "Mode :",IDC_STATIC,304,158,22,8
    LTEXT           "SPSR :",IDC_STATIC,304,168,22,8
    LTEXT           "00000000",IDC_R0,325,16,40,8
    LTEXT           "00000000",IDC_R1,325,24,40,8
    LTEXT           "00000000",IDC_R2,325,32,40,8
    LTEXT           "00000000",IDC_R3,325,40,40,8
    LTEXT           "00000000",IDC_R4,325,48,40,8
    LTEXT           "00000000",IDC_R5,325,56,40,8
    LTEXT           "00000000",IDC_R6,325,64,40,8
    LTEXT           "00000000",IDC_R7,325,72,40,8
    LTEXT           "00000000",IDC_R8,325,80,40,8
    LTEXT           "00000000",IDC_R9,325,88,40,8
    LTEXT           "00000000",IDC_R10,325,96,40,8
    LTEXT           "00000000",IDC_R11,325,104,40,8
    LTEXT           "00000000",IDC_R12,325,112,40,8
    LTEXT           "00000000",IDC_R13,325,120,40,8
    LTEXT           "00000000",IDC_R14,325,128,40,8
    LTEXT           "00000000",IDC_R15,325,136,40,8
    LTEXT           "",IDC_MODE,327,158,28,8
    LTEXT           "",IDC_TMP,327,168,40,8
END

IDD_GAME_INFO DIALOG DISCARDABLE  0, 0, 150, 150
STYLE   WS_VISIBLE | WS_SYSMENU
CAPTION "Info ROM"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "&Fermer",IDC_FERMER,50,134,50,14
    LTEXT           "Nom du jeu :",IDC_STATIC,4,4,41,8
    LTEXT           "Code :",IDC_STATIC,4,12,41,8
    LTEXT           "Fabriquant :",IDC_STATIC,4,20,41,8
    LTEXT           "Taille :",IDC_STATIC,4,28,41,8
    LTEXT           "ARM9 taille :",IDC_STATIC,4,36,41,8
    LTEXT           "ARM7 taille :",IDC_STATIC,4,44,41,8
    LTEXT           "Donnee :",IDC_STATIC,4,52,41,8
    LTEXT           "",IDC_NOM_JEU,45,4,100,8
    LTEXT           "",IDC_CDE,45,12,100,8
    LTEXT           "",IDC_FAB,45,20,100,8
    LTEXT           "",IDC_TAILLE,45,28,100,8
    LTEXT           "",IDC_ARM9_T,45,36,100,8
    LTEXT           "",IDC_ARM7_T,45,44,100,8
    LTEXT           "",IDC_DATA,45,52,100,8
END

IDD_IO_REG DIALOG DISCARDABLE  0, 0, 150, 150
STYLE   WS_SYSMENU
CAPTION "IO REG"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "&Fermer",IDC_FERMER,50,134,50,14
    LTEXT           "Int Handler :",IDC_STATIC,4,4,41,8
    LTEXT           "IE :",IDC_STATIC,4,12,41,8
    LTEXT           "IME :",IDC_STATIC,4,20,41,8
    LTEXT           "DISPCNT :",IDC_STATIC,4,28,41,8
    LTEXT           "DISPSTAT :",IDC_STATIC,4,36,41,8
    LTEXT           "IPCSYNC :",IDC_STATIC,4,44,41,8
    LTEXT           "IPCFIFO :",IDC_STATIC,4,52,41,8
    LTEXT           "",IDC_INTHAND,45,4,100,8
    LTEXT           "",IDC_IE,45,12,130,8
    LTEXT           "",IDC_IME,45,20,130,8
    LTEXT           "",IDC_DISPCNT,45,28,130,8
    LTEXT           "",IDC_DISPSTAT,45,36,130,8
    LTEXT           "",IDC_IPCSYNC,45,44,130,8
    LTEXT           "",IDC_IPCFIFO,45,52,130,8
END

IDD_LOG DIALOG DISCARDABLE  0, 0, 300, 300
STYLE   WS_SYSMENU
CAPTION "Log"
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "Edit", IDC_LOG,"LogView",WS_TABSTOP | WS_VSCROLL,4,4,292,280,WS_EX_CLIENTEDGE 
    PUSHBUTTON      "&Fermer",IDC_FERMER,125,285,50,14
END

IDD_PAL DIALOG DISCARDABLE  0, 0, 120, 165
STYLE   WS_SYSMENU
CAPTION "PAL VIEW"
FONT 8, "MS Sans Serif"
BEGIN
    COMBOBOX        IDC_PAL_SELECT, 15, 3, 90, 14, WS_TABSTOP | CBS_DROPDOWN
    LTEXT           "Pal : 0",IDC_PALNUM,3,21,25,8
    SCROLLBAR       IDC_SCROLLER,30,18,20,14, SBS_HORZ
    CONTROL         "Auto-update",IDC_AUTO_UPDATE,"Button", BS_AUTOCHECKBOX | WS_TABSTOP,60,18,75,14
    PUSHBUTTON      "&Fermer",IDC_FERMER,35,149,50,14
END

IDD_TILE DIALOG DISCARDABLE  0, 0, 446, 180
STYLE   WS_SYSMENU
CAPTION "TILE VIEW"
FONT 8, "MS Sans Serif"
BEGIN
    COMBOBOX        IDC_PAL_SELECT, 4, 13, 90, 14, WS_TABSTOP | CBS_DROPDOWN
    LTEXT           "Pal : 0",IDC_PALNUM,4,31,25,8
    SCROLLBAR       IDC_SCROLLER,30,28,20,14, SBS_HORZ
    COMBOBOX        IDC_MEM_SELECT, 4, 50, 90, 14, WS_TABSTOP | CBS_DROPDOWN
    CONTROL         "Bitmap",IDC_BITMAP,"Button",BS_AUTORADIOBUTTON | WS_GROUP,4,68,35,10
    CONTROL         "256 couleurs",IDC_256COUL,"Button",BS_AUTORADIOBUTTON,4,80,55,10
    CONTROL         "16 couleurs",IDC_16COUL,"Button",BS_AUTORADIOBUTTON,4,92,50,10
    CONTROL         "Auto-update",IDC_AUTO_UPDATE,"Button", BS_AUTOCHECKBOX | WS_TABSTOP,369,164,75,14
    CONTROL         "Edit", IDC_Tile_BOX,"TileViewBox",WS_TABSTOP ,100,2,344,160,WS_EX_CLIENTEDGE 
    CONTROL         "Edit", IDC_MINI_TILE,"MiniTileViewBox",WS_TABSTOP ,22,116,56,52,WS_EX_CLIENTEDGE 
    LTEXT           "Tile num : 0",IDC_TILENUM,23,170,100,8
    PUSHBUTTON      "&Fermer",IDC_FERMER,198,164,50,14
END

IDD_MAP DIALOG DISCARDABLE  0, 0, 485, 320
STYLE   WS_SYSMENU
CAPTION "MAP VIEW"
FONT 8, "MS Sans Serif"
BEGIN
    COMBOBOX        IDC_BG_SELECT, 4, 4, 90, 14, WS_TABSTOP | CBS_DROPDOWN
    LTEXT           "Mode :",IDC_STATIC,4,20,45,8
    LTEXT           "Palette :",IDC_STATIC,4,30,45,8
    LTEXT           "Prio :",IDC_STATIC,4,40,45,8
    LTEXT           "Char base :",IDC_STATIC,4,50,45,8
    LTEXT           "Screen base :",IDC_STATIC,4,60,45,8
    LTEXT           "Size :",IDC_STATIC,4,70,45,8
    LTEXT           "Scroll :",IDC_STATIC,4,80,45,8
    LTEXT           "",IDC_MODE,48,20,85,8
    LTEXT           "",IDC_PAL,48,30,85,8
    LTEXT           "",IDC_PRIO,48,40,85,8
    LTEXT           "",IDC_CHAR,48,50,85,8
    LTEXT           "",IDC_SCR,48,60,85,8
    LTEXT           "",IDC_MSIZE,48,70,85,8
    LTEXT           "",IDC_SCROLL,48,80,85,8
//    CONTROL         "Edit", IDC_MAP_BOX,"MapViewBox",WS_TABSTOP | WS_VSCROLL | WS_HSCROLL,4,16,296,150,WS_EX_CLIENTEDGE 
    PUSHBUTTON      "&Fermer",IDC_FERMER,4,300,50,14
END

IDD_OAM DIALOG DISCARDABLE  0, 0, 300, 200//150, 150
STYLE   WS_SYSMENU
CAPTION "OAM Viewer"
FONT 8, "MS Sans Serif"
BEGIN
    COMBOBOX        IDC_SCR_SELECT, 4, 4, 90, 14, WS_TABSTOP | CBS_DROPDOWN
    SCROLLBAR       IDC_SCROLLER,48,20,20,14, SBS_HORZ
    LTEXT           "Mode :",IDC_STATIC,4,36,45,8
    LTEXT           "Tile :",IDC_STATIC,4,46,45,8
    LTEXT           "Palette :",IDC_STATIC,4,56,45,8
    LTEXT           "Prio :",IDC_STATIC,4,66,45,8
    LTEXT           "CoordonnÈes :",IDC_STATIC,4,76,45,8
    LTEXT           "Dimensions :",IDC_STATIC,4,86,45,8
    LTEXT           "Rotation :",IDC_STATIC,4,96,45,8
    LTEXT           "Mosaic :",IDC_STATIC,4,106,45,8
    LTEXT           "OAM : 0",IDC_OAMNUM,4,24,40,8
    LTEXT           "",IDC_MODE,48,36,42,8
    LTEXT           "",IDC_TILE,48,46,72,8
    LTEXT           "",IDC_PAL,48,56,72,8
    LTEXT           "",IDC_PRIO,48,66,72,8
    LTEXT           "",IDC_COOR,48,76,42,8
    LTEXT           "",IDC_DIM,48,86,42,8
    LTEXT           "",IDC_ROT,48,96,42,8
    LTEXT           "",IDC_MOS,48,106,42,8
    LTEXT           "",IDC_PROP0,4,116,86,8
    LTEXT           "",IDC_PROP1,4,126,86,8
//    CONTROL         "Edit", IDC_OAM_BOX,"OAMViewBox",WS_TABSTOP,100,50,45,42,WS_EX_CLIENTEDGE 
    PUSHBUTTON      "&Fermer",IDC_FERMER,50,134,50,14
END

// ENGLISH ///////////////////////////////////////////////////////////////////

LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US

MENU_PRINCIPAL MENU 
{
 POPUP "&File"
 {
  MENUITEM "&Open", IDM_OPEN
  MENUITEM "Rom &Info", IDM_GAME_INFO
  MENUITEM SEPARATOR
  MENUITEM "Save State", IDM_STATE_SAVE
  MENUITEM "Load State", IDM_STATE_LOAD
  MENUITEM SEPARATOR
  MENUITEM "Save Screenshot &As", IDM_PRINTSCREEN
  MENUITEM "&Quick Screenshot", IDM_QUICK_PRINTSCREEN
  MENUITEM SEPARATOR
  MENUITEM "&Quit", IDM_QUIT
 }
 POPUP "&Emulation"
 {
  MENUITEM "&Execute", IDM_EXEC
  MENUITEM "&Pause", IDM_PAUSE
  MENUITEM "&Reset", IDM_RESET
 }
 POPUP "&Tools"
 {
  MENUITEM "Config", IDM_CONFIG
  MENUITEM "&Disassembler", IDM_DISASSEMBLER
  MENUITEM "View &Memory", IDM_MEMORY
  MENUITEM "View &Registers", IDM_IOREG
//  MENUITEM "View Log", IDM_LOG
  MENUITEM "View &Palette", IDM_PAL
  MENUITEM "View &Tiles", IDM_TILE
  MENUITEM "View M&aps", IDM_MAP
  MENUITEM "View &OAM", IDM_OAM
  MENUITEM SEPARATOR
  POPUP "&View &Layers"
  {
   MENUITEM "Main BG 0", IDM_MBG0, CHECKED
   MENUITEM "Main BG 1", IDM_MBG1, CHECKED
   MENUITEM "Main BG 2", IDM_MBG2, CHECKED
   MENUITEM "Main BG 3", IDM_MBG3, CHECKED
   MENUITEM SEPARATOR
   MENUITEM "Sub BG 0", IDM_SBG0, CHECKED
   MENUITEM "Sub BG 1", IDM_SBG1, CHECKED
   MENUITEM "Sub BG 2", IDM_SBG2, CHECKED
   MENUITEM "Sub BG 3", IDM_SBG3, CHECKED
  }
 }
}

IDD_CONFIG DIALOG DISCARDABLE  0, 0, 125, 227
STYLE DS_MODALFRAME | DS_SETFOREGROUND | WS_POPUP | WS_CAPTION
CAPTION "Configure Keys"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDC_FERMER,67,208,50,14
    PUSHBUTTON      "Default",IDC_BUTTON1,7,208,50,14
    COMBOBOX        IDC_COMBO1,46,13,59,14,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP
    LTEXT           "Up:",IDC_STATIC,17,14,27,10
    COMBOBOX        IDC_COMBO4,46,29,59,14,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP
    LTEXT           "Down:",IDC_STATIC,17,31,28,9
    COMBOBOX        IDC_COMBO2,46,45,59,14,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP
    LTEXT           "Left:",IDC_STATIC,17,47,28,9
    COMBOBOX        IDC_COMBO3,46,61,59,14,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP
    LTEXT           "Right:",IDC_STATIC,17,63,28,9
    COMBOBOX        IDC_COMBO7,46,77,59,14,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP
    LTEXT           "A:",IDC_STATIC,18,78,28,9
    COMBOBOX        IDC_COMBO8,46,92,59,14,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP
    LTEXT           "B:",IDC_STATIC,17,94,28,9
    COMBOBOX        IDC_COMBO10,46,108,59,14,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP
    LTEXT           "L:",IDC_STATIC,17,110,28,9
    COMBOBOX        IDC_COMBO11,46,124,59,14,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP
    LTEXT           "R:",IDC_STATIC,17,126,28,9
    COMBOBOX        IDC_COMBO6,46,140,59,14,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP
    LTEXT           "X:",IDC_STATIC,17,142,28,9
    COMBOBOX        IDC_COMBO5,46,156,59,14,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP
    LTEXT           "Y:",IDC_STATIC,17,158,28,9
    GROUPBOX        "",IDC_STATIC,7,3,111,203
    COMBOBOX        IDC_COMBO9,46,172,59,14,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP
    LTEXT           "Start:",IDC_STATIC,17,174,28,9
    COMBOBOX        IDC_COMBO12,46,188,59,14,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP
    LTEXT           "Select:",IDC_STATIC,17,190,28,9
END

IDD_MEM_VIEWER DIALOG DISCARDABLE  0, 0, 428, 178
STYLE   WS_SYSMENU
CAPTION "View Memory"
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "8 bit",IDC_8_BIT,"Button",BS_AUTORADIOBUTTON | WS_GROUP,10,4,29,10
    CONTROL         "16 bit",IDC_16_BIT,"Button",BS_AUTORADIOBUTTON,44,4,33,10
    CONTROL         "32 bit",IDC_32_BIT,"Button",BS_AUTORADIOBUTTON,82,4,33,10
    LTEXT           "Go to:",IDC_STATIC,130,4,33,10
    EDITTEXT        IDC_GOTOMEM,155,1,82,14,ES_UPPERCASE | ES_AUTOHSCROLL | ES_WANTRETURN | WS_GROUP
    PUSHBUTTON      "&GO",IDC_GO,240,1,20,14
    CONTROL         "Auto-update",IDC_AUTO_UPDATE,"Button", BS_AUTOCHECKBOX | WS_TABSTOP,350,1,75,14
    CONTROL         "Edit", IDC_MEM_BOX,"MemViewBox",WS_TABSTOP | WS_VSCROLL,4,16,424,142,WS_EX_CLIENTEDGE 
    PUSHBUTTON      "&Close",IDC_FERMER,185,162,50,14
END

IDD_DESASSEMBLEUR_VIEWER DIALOG DISCARDABLE  0, 0, 380, 186
STYLE   WS_SYSMENU
CAPTION "Disassembler"
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "Auto ",IDC_AUTO_DES,"Button",BS_AUTORADIOBUTTON | WS_GROUP,10,4,35,10
    CONTROL         "ARM",IDC_ARM,"Button",BS_AUTORADIOBUTTON,44,4,35,10
    CONTROL         "Thumb",IDC_THUMB,"Button",BS_AUTORADIOBUTTON,82,4,40,10
    LTEXT           "Go to:",IDC_STATIC,130,4,33,10
    EDITTEXT        IDC_GOTODES,155,1,82,14,ES_UPPERCASE | ES_AUTOHSCROLL | 
                    ES_WANTRETURN | WS_GROUP
    PUSHBUTTON      "&GO",IDC_GO,240,1,20,14
    CONTROL         "Auto-update",IDC_AUTO_UPDATE,"Button", BS_AUTOCHECKBOX | WS_TABSTOP,300,1,75,14
    CONTROL         "Edit", IDC_DES_BOX,"DesViewBox",WS_TABSTOP | WS_VSCROLL,4,16,296,150,WS_EX_CLIENTEDGE 
    PUSHBUTTON      "&Close",IDC_FERMER,185,170,50,14
    EDITTEXT        IDC_SETPNUM,5,170,65,14,ES_UPPERCASE | ES_AUTOHSCROLL | WS_GROUP | ES_NUMBER
    PUSHBUTTON      "&Step",IDC_STEP,75,170,50,14
    LTEXT           "R0   :",IDC_STATIC,304,16,17,8
    LTEXT           "R1   :",IDC_STATIC,304,24,17,8
    LTEXT           "R2   :",IDC_STATIC,304,32,17,8
    LTEXT           "R3   :",IDC_STATIC,304,40,17,8
    LTEXT           "R4   :",IDC_STATIC,304,48,17,8
    LTEXT           "R5   :",IDC_STATIC,304,56,17,8
    LTEXT           "R6   :",IDC_STATIC,304,64,17,8
    LTEXT           "R7   :",IDC_STATIC,304,72,17,8
    LTEXT           "R8   :",IDC_STATIC,304,80,17,8
    LTEXT           "R9   :",IDC_STATIC,304,88,17,8
    LTEXT           "R10 :",IDC_STATIC,304,96,17,8
    LTEXT           "R11 :",IDC_STATIC,304,104,17,8
    LTEXT           "R12 :",IDC_STATIC,304,112,17,8
    LTEXT           "SP :",IDC_STATIC,304,120,17,8
    LTEXT           "LR :",IDC_STATIC,304,128,17,8
    LTEXT           "PC :",IDC_STATIC,304,136,17,8
    LTEXT           "Mode :",IDC_STATIC,304,158,22,8
    LTEXT           "SPSR :",IDC_STATIC,304,168,22,8
    LTEXT           "00000000",IDC_R0,325,16,40,8
    LTEXT           "00000000",IDC_R1,325,24,40,8
    LTEXT           "00000000",IDC_R2,325,32,40,8
    LTEXT           "00000000",IDC_R3,325,40,40,8
    LTEXT           "00000000",IDC_R4,325,48,40,8
    LTEXT           "00000000",IDC_R5,325,56,40,8
    LTEXT           "00000000",IDC_R6,325,64,40,8
    LTEXT           "00000000",IDC_R7,325,72,40,8
    LTEXT           "00000000",IDC_R8,325,80,40,8
    LTEXT           "00000000",IDC_R9,325,88,40,8
    LTEXT           "00000000",IDC_R10,325,96,40,8
    LTEXT           "00000000",IDC_R11,325,104,40,8
    LTEXT           "00000000",IDC_R12,325,112,40,8
    LTEXT           "00000000",IDC_R13,325,120,40,8
    LTEXT           "00000000",IDC_R14,325,128,40,8
    LTEXT           "00000000",IDC_R15,325,136,40,8
    LTEXT           "",IDC_MODE,327,158,28,8
    LTEXT           "",IDC_TMP,327,168,40,8
END

IDD_GAME_INFO DIALOG DISCARDABLE  0, 0, 150, 150
STYLE   WS_VISIBLE | WS_SYSMENU
CAPTION "ROM Info"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "&Close",IDC_FERMER,50,134,50,14
    LTEXT           "Name of Game :",IDC_STATIC,4,4,51,8
    LTEXT           "Code :",IDC_STATIC,4,12,51,8
    LTEXT           "Manufacturer :",IDC_STATIC,4,20,51,8
    LTEXT           "Size :",IDC_STATIC,4,28,51,8
    LTEXT           "ARM9 Size :",IDC_STATIC,4,36,51,8
    LTEXT           "ARM7 Size :",IDC_STATIC,4,44,51,8
    LTEXT           "Data :",IDC_STATIC,4,52,51,8
    LTEXT           "",IDC_NOM_JEU,60,4,100,8
    LTEXT           "",IDC_CDE,60,12,100,8
    LTEXT           "",IDC_FAB,60,20,100,8
    LTEXT           "",IDC_TAILLE,60,28,100,8
    LTEXT           "",IDC_ARM9_T,60,36,100,8
    LTEXT           "",IDC_ARM7_T,60,44,100,8
    LTEXT           "",IDC_DATA,60,52,100,8
END

IDD_IO_REG DIALOG DISCARDABLE  0, 0, 150, 150
STYLE   WS_SYSMENU
CAPTION "IO REG"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "&Close",IDC_FERMER,50,134,50,14
    LTEXT           "Int Handler :",IDC_STATIC,4,4,41,8
    LTEXT           "IE :",IDC_STATIC,4,12,41,8
    LTEXT           "IME :",IDC_STATIC,4,20,41,8
    LTEXT           "DISPCNT :",IDC_STATIC,4,28,41,8
    LTEXT           "DISPSTAT :",IDC_STATIC,4,36,41,8
    LTEXT           "IPCSYNC :",IDC_STATIC,4,44,41,8
    LTEXT           "IPCFIFO :",IDC_STATIC,4,52,41,8
    LTEXT           "",IDC_INTHAND,45,4,100,8
    LTEXT           "",IDC_IE,45,12,130,8
    LTEXT           "",IDC_IME,45,20,130,8
    LTEXT           "",IDC_DISPCNT,45,28,130,8
    LTEXT           "",IDC_DISPSTAT,45,36,130,8
    LTEXT           "",IDC_IPCSYNC,45,44,130,8
    LTEXT           "",IDC_IPCFIFO,45,52,130,8
END

IDD_LOG DIALOG DISCARDABLE  0, 0, 300, 300
STYLE   WS_SYSMENU
CAPTION "Log"
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "Edit", IDC_LOG,"LogView",WS_TABSTOP | WS_VSCROLL,4,4,292,280,WS_EX_CLIENTEDGE 
    PUSHBUTTON      "&Close",IDC_FERMER,125,285,50,14
END

IDD_PAL DIALOG DISCARDABLE  0, 0, 120, 165
STYLE   WS_SYSMENU
CAPTION "PAL VIEW"
FONT 8, "MS Sans Serif"
BEGIN
    COMBOBOX        IDC_PAL_SELECT, 15, 3, 90, 14, WS_TABSTOP | CBS_DROPDOWN
    LTEXT           "Pal : 0",IDC_PALNUM,3,21,25,8
    SCROLLBAR       IDC_SCROLLER,30,18,20,14, SBS_HORZ
    CONTROL         "Auto-update",IDC_AUTO_UPDATE,"Button", BS_AUTOCHECKBOX | WS_TABSTOP,60,18,75,14
    PUSHBUTTON      "&Close",IDC_FERMER,35,149,50,14
END

IDD_TILE DIALOG DISCARDABLE  0, 0, 446, 180
STYLE   WS_SYSMENU
CAPTION "TILE VIEW"
FONT 8, "MS Sans Serif"
BEGIN
    COMBOBOX        IDC_PAL_SELECT, 4, 13, 90, 14, WS_TABSTOP | CBS_DROPDOWN
    LTEXT           "Pal : 0",IDC_PALNUM,4,31,25,8
    SCROLLBAR       IDC_SCROLLER,30,28,20,14, SBS_HORZ
    COMBOBOX        IDC_MEM_SELECT, 4, 50, 90, 14, WS_TABSTOP | CBS_DROPDOWN
    CONTROL         "Bitmap",IDC_BITMAP,"Button",BS_AUTORADIOBUTTON | WS_GROUP,4,68,35,10
    CONTROL         "256 colors",IDC_256COUL,"Button",BS_AUTORADIOBUTTON,4,80,55,10
    CONTROL         "16 colors",IDC_16COUL,"Button",BS_AUTORADIOBUTTON,4,92,50,10
    CONTROL         "Auto-update",IDC_AUTO_UPDATE,"Button", BS_AUTOCHECKBOX | WS_TABSTOP,369,164,75,14
    CONTROL         "Edit", IDC_Tile_BOX,"TileViewBox",WS_TABSTOP ,100,2,344,160,WS_EX_CLIENTEDGE 
    CONTROL         "Edit", IDC_MINI_TILE,"MiniTileViewBox",WS_TABSTOP ,22,116,56,52,WS_EX_CLIENTEDGE 
    LTEXT           "Tile num : 0",IDC_TILENUM,23,170,100,8
    PUSHBUTTON      "&Close",IDC_FERMER,198,164,50,14
END

IDD_MAP DIALOG DISCARDABLE  0, 0, 485, 320
STYLE   WS_SYSMENU
CAPTION "MAP VIEW"
FONT 8, "MS Sans Serif"
BEGIN
    COMBOBOX        IDC_BG_SELECT, 4, 4, 90, 14, WS_TABSTOP | CBS_DROPDOWN
    LTEXT           "Mode :",IDC_STATIC,4,20,45,8
    LTEXT           "Palette :",IDC_STATIC,4,30,45,8
    LTEXT           "Prio :",IDC_STATIC,4,40,45,8
    LTEXT           "Char base :",IDC_STATIC,4,50,45,8
    LTEXT           "Screen base :",IDC_STATIC,4,60,45,8
    LTEXT           "Size :",IDC_STATIC,4,70,45,8
    LTEXT           "Scroll :",IDC_STATIC,4,80,45,8
    LTEXT           "",IDC_MODE,48,20,85,8
    LTEXT           "",IDC_PAL,48,30,85,8
    LTEXT           "",IDC_PRIO,48,40,85,8
    LTEXT           "",IDC_CHAR,48,50,85,8
    LTEXT           "",IDC_SCR,48,60,85,8
    LTEXT           "",IDC_MSIZE,48,70,85,8
    LTEXT           "",IDC_SCROLL,48,80,85,8
//    CONTROL         "Edit", IDC_MAP_BOX,"MapViewBox",WS_TABSTOP | WS_VSCROLL | WS_HSCROLL,4,16,296,150,WS_EX_CLIENTEDGE 
    PUSHBUTTON      "&Close",IDC_FERMER,4,300,50,14
END

IDD_OAM DIALOG DISCARDABLE  0, 0, 300, 200//150, 150
STYLE   WS_SYSMENU
CAPTION "OAM Viewer"
FONT 8, "MS Sans Serif"
BEGIN
    COMBOBOX        IDC_SCR_SELECT, 4, 4, 90, 14, WS_TABSTOP | CBS_DROPDOWN
    SCROLLBAR       IDC_SCROLLER,48,20,20,14, SBS_HORZ
    LTEXT           "Mode :",IDC_STATIC,4,36,45,8
    LTEXT           "Tile :",IDC_STATIC,4,46,45,8
    LTEXT           "Palette :",IDC_STATIC,4,56,45,8
    LTEXT           "Prio :",IDC_STATIC,4,66,45,8
    LTEXT           "Coordinates :",IDC_STATIC,4,76,45,8
    LTEXT           "Dimensions :",IDC_STATIC,4,86,45,8
    LTEXT           "Rotation :",IDC_STATIC,4,96,45,8
    LTEXT           "Mosaic :",IDC_STATIC,4,106,45,8
    LTEXT           "OAM : 0",IDC_OAMNUM,4,24,40,8
    LTEXT           "",IDC_MODE,48,36,42,8
    LTEXT           "",IDC_TILE,48,46,72,8
    LTEXT           "",IDC_PAL,48,56,72,8
    LTEXT           "",IDC_PRIO,48,66,72,8
    LTEXT           "",IDC_COOR,48,76,42,8
    LTEXT           "",IDC_DIM,48,86,42,8
    LTEXT           "",IDC_ROT,48,96,42,8
    LTEXT           "",IDC_MOS,48,106,42,8
    LTEXT           "",IDC_PROP0,4,116,86,8
    LTEXT           "",IDC_PROP1,4,126,86,8
//    CONTROL         "Edit", IDC_OAM_BOX,"OAMViewBox",WS_TABSTOP,100,50,45,42,WS_EX_CLIENTEDGE 
    PUSHBUTTON      "&Close",IDC_FERMER,50,134,50,14
END
