<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VersionStrings</key>
	<array>
		<string>0.9.6</string>
		<string>0.9.7</string>
		<string>0.9.8</string>
		<string>0.9.9</string>
		<string>0.9.10</string>
	</array>
	<key>PortStrings</key>
	<dict>
		<key>0.9.6</key>
		<array>
			<string>GTK</string>
		</array>
		<key>0.9.7</key>
		<array>
			<string>Cocoa</string>
		</array>
		<key>0.9.8</key>
		<array>
			<string>Cocoa</string>
			<string>OpenEmu</string>
		</array>
		<key>0.9.9</key>
		<array>
			<string>Cocoa</string>
			<string>OpenEmu</string>
		</array>
		<key>0.9.10</key>
		<array>
			<string>Cocoa</string>
			<string>OpenEmu</string>
		</array>
	</dict>
	<key>DefaultPaths</key>
	<dict>
		<key>0.9.6</key>
		<dict>
			<key>GTK</key>
			<dict>
				<key>ROM Save</key>
				<string>~/.config/desmume</string>
				<key>Cheat</key>
				<string>~/.config/desmume</string>
				<key>Save State</key>
				<string>~/.config/desmume</string>
			</dict>
		</dict>
		<key>0.9.7</key>
		<dict>
			<key>Cocoa</key>
			<dict>
				<key>ROM Save</key>
				<string>${WITHROM}</string>
				<key>Save State</key>
				<string>${APPSUPPORT}</string>
			</dict>
		</dict>
		<key>0.9.8</key>
		<dict>
			<key>Cocoa</key>
			<dict>
				<key>ROM Save</key>
				<string>${APPSUPPORT}</string>
				<key>Cheat</key>
				<string>${APPSUPPORT}</string>
				<key>Firmware Configuration</key>
				<string>${APPSUPPORT}</string>
				<key>Save State</key>
				<string>${APPSUPPORT}</string>
			</dict>
			<key>OpenEmu</key>
			<dict>
				<key>ROM Save</key>
				<string>${OPENEMU}</string>
				<key>Save State</key>
				<string>${OPENEMU}</string>
			</dict>
		</dict>
		<key>0.9.9</key>
		<dict>
			<key>Cocoa</key>
			<dict>
				<key>ROM Save</key>
				<string>${APPSUPPORT}</string>
				<key>Cheat</key>
				<string>${APPSUPPORT}</string>
				<key>Firmware Configuration</key>
				<string>${APPSUPPORT}</string>
				<key>Save State</key>
				<string>${APPSUPPORT}</string>
			</dict>
			<key>OpenEmu</key>
			<dict>
				<key>ROM Save</key>
				<string>${OPENEMU}</string>
				<key>Save State</key>
				<string>${OPENEMU}</string>
			</dict>
		</dict>
		<key>0.9.10</key>
		<dict>
			<key>Cocoa</key>
			<dict>
				<key>ROM Save</key>
				<string>${APPSUPPORT}</string>
				<key>Cheat</key>
				<string>${APPSUPPORT}</string>
				<key>Firmware Configuration</key>
				<string>${APPSUPPORT}</string>
				<key>Save State</key>
				<string>${APPSUPPORT}</string>
			</dict>
			<key>OpenEmu</key>
			<dict>
				<key>ROM Save</key>
				<string>${OPENEMU}</string>
				<key>Save State</key>
				<string>${OPENEMU}</string>
			</dict>
		</dict>
	</dict>
	<key>DirectoryNames</key>
	<dict>
		<key>0.9.6</key>
		<dict>
			<key>GTK</key>
			<dict>
				<key>ROM Save</key>
				<string>Battery</string>
				<key>Cheat</key>
				<string>Cheats</string>
				<key>Firmware Configuration</key>
				<string>Battery</string>
				<key>Lua Script</key>
				<string>Lua</string>
				<key>Video</key>
				<string>AviFiles</string>
				<key>R4 Format</key>
				<string>R4format</string>
				<key>ROM</key>
				<string>Roms</string>
				<key>Save State</key>
				<string>States</string>
				<key>Screenshot</key>
				<string>Screenshots</string>
				<key>Sound Sample</key>
				<string>SoundSamples</string>
			</dict>
		</dict>
		<key>0.9.7</key>
		<dict>
			<key>Cocoa</key>
			<dict>
				<key>ROM Save</key>
				<string>Battery</string>
				<key>Cheat</key>
				<string>Cheats</string>
				<key>Firmware Configuration</key>
				<string>Battery</string>
				<key>Lua Script</key>
				<string>Lua</string>
				<key>Video</key>
				<string>AviFiles</string>
				<key>R4 Format</key>
				<string>R4format</string>
				<key>ROM</key>
				<string>Roms</string>
				<key>Save State</key>
				<string>States</string>
				<key>Screenshot</key>
				<string>Screenshots</string>
				<key>Sound Sample</key>
				<string>SoundSamples</string>
			</dict>
		</dict>
		<key>0.9.8</key>
		<dict>
			<key>Cocoa</key>
			<dict>
				<key>ROM Save</key>
				<string>Battery</string>
				<key>Cheat</key>
				<string>Cheats</string>
				<key>Firmware Configuration</key>
				<string>Battery</string>
				<key>Lua Script</key>
				<string>Lua</string>
				<key>Video</key>
				<string>AviFiles</string>
				<key>R4 Format</key>
				<string>R4format</string>
				<key>ROM</key>
				<string>Roms</string>
				<key>Save State</key>
				<string>States</string>
				<key>Screenshot</key>
				<string>Screenshots</string>
				<key>Sound Sample</key>
				<string>SoundSamples</string>
			</dict>
		</dict>
		<key>0.9.9</key>
		<dict>
			<key>Cocoa</key>
			<dict>
				<key>ROM Save</key>
				<string>Battery</string>
				<key>Cheat</key>
				<string>Cheats</string>
				<key>Firmware Configuration</key>
				<string>Battery</string>
				<key>Lua Script</key>
				<string>Lua</string>
				<key>Video</key>
				<string>AviFiles</string>
				<key>R4 Format</key>
				<string>R4format</string>
				<key>ROM</key>
				<string>Roms</string>
				<key>Save State</key>
				<string>States</string>
				<key>Screenshot</key>
				<string>Screenshots</string>
				<key>Sound Sample</key>
				<string>SoundSamples</string>
			</dict>
		</dict>
		<key>0.9.10</key>
		<dict>
			<key>Cocoa</key>
			<dict>
				<key>ROM Save</key>
				<string>Battery</string>
				<key>Cheat</key>
				<string>Cheats</string>
				<key>Firmware Configuration</key>
				<string>Battery</string>
				<key>Lua Script</key>
				<string>Lua</string>
				<key>Video</key>
				<string>AviFiles</string>
				<key>R4 Format</key>
				<string>R4format</string>
				<key>ROM</key>
				<string>Roms</string>
				<key>Save State</key>
				<string>States</string>
				<key>Screenshot</key>
				<string>Screenshots</string>
				<key>Sound Sample</key>
				<string>SoundSamples</string>
			</dict>
		</dict>
	</dict>
	<key>FileExtensionByTypes</key>
	<dict>
		<key>0.9.6</key>
		<dict>
			<key>GTK</key>
			<dict>
				<key>ROM Save</key>
				<string>dsv</string>
				<key>Cheat</key>
				<string>dct</string>
				<key>Firmware Configuration</key>
				<string>dfc</string>
				<key>Lua Script</key>
				<string>lua</string>
				<key>Save State</key>
				<string>dst</string>
				<key>ROM</key>
				<string>nds</string>
			</dict>
		</dict>
		<key>0.9.7</key>
		<dict>
			<key>Cocoa</key>
			<dict>
				<key>ROM Save</key>
				<string>dsv</string>
				<key>Cheat</key>
				<string>dct</string>
				<key>Firmware Configuration</key>
				<string>dfc</string>
				<key>Lua Script</key>
				<string>lua</string>
				<key>Save State</key>
				<string>dst</string>
				<key>ROM</key>
				<string>nds</string>
			</dict>
		</dict>
		<key>0.9.8</key>
		<dict>
			<key>Cocoa</key>
			<dict>
				<key>ROM Save</key>
				<string>dsv</string>
				<key>Cheat</key>
				<string>dct</string>
				<key>Firmware Configuration</key>
				<string>dfc</string>
				<key>Lua Script</key>
				<string>lua</string>
				<key>Save State</key>
				<string>dst</string>
				<key>ROM</key>
				<string>nds</string>
			</dict>
		</dict>
		<key>0.9.9</key>
		<dict>
			<key>Cocoa</key>
			<dict>
				<key>ROM Save</key>
				<string>dsv</string>
				<key>Cheat</key>
				<string>dct</string>
				<key>Firmware Configuration</key>
				<string>dfc</string>
				<key>Lua Script</key>
				<string>lua</string>
				<key>Save State</key>
				<string>dst</string>
				<key>ROM</key>
				<string>nds</string>
			</dict>
		</dict>
		<key>0.9.10</key>
		<dict>
			<key>Cocoa</key>
			<dict>
				<key>ROM Save</key>
				<string>dsv</string>
				<key>Cheat</key>
				<string>dct</string>
				<key>Firmware Configuration</key>
				<string>dfc</string>
				<key>Lua Script</key>
				<string>lua</string>
				<key>Save State</key>
				<string>dst</string>
				<key>ROM</key>
				<string>nds</string>
			</dict>
		</dict>
	</dict>
	<key>FileTypeByExtensions</key>
	<dict>
		<key>0.9.6</key>
		<dict>
			<key>GTK</key>
			<dict>
				<key>dsv</key>
				<string>ROM Save</string>
				<key>dct</key>
				<string>Cheat</string>
				<key>dfc</key>
				<string>Firmware Configuration</string>
				<key>lua</key>
				<string>Lua Script</string>
				<key>dst</key>
				<string>Save State</string>
				<key>nds</key>
				<string>ROM</string>
			</dict>
		</dict>
		<key>0.9.7</key>
		<dict>
			<key>Cocoa</key>
			<dict>
				<key>dsv</key>
				<string>ROM Save</string>
				<key>dct</key>
				<string>Cheat</string>
				<key>dfc</key>
				<string>Firmware Configuration</string>
				<key>lua</key>
				<string>Lua Script</string>
				<key>dst</key>
				<string>Save State</string>
				<key>nds</key>
				<string>ROM</string>
			</dict>
		</dict>
		<key>0.9.8</key>
		<dict>
			<key>Cocoa</key>
			<dict>
				<key>dsv</key>
				<string>ROM Save</string>
				<key>dct</key>
				<string>Cheat</string>
				<key>dfc</key>
				<string>Firmware Configuration</string>
				<key>lua</key>
				<string>Lua Script</string>
				<key>dst</key>
				<string>Save State</string>
				<key>nds</key>
				<string>ROM</string>
			</dict>
		</dict>
		<key>0.9.9</key>
		<dict>
			<key>Cocoa</key>
			<dict>
				<key>dsv</key>
				<string>ROM Save</string>
				<key>dct</key>
				<string>Cheat</string>
				<key>dfc</key>
				<string>Firmware Configuration</string>
				<key>lua</key>
				<string>Lua Script</string>
				<key>dst</key>
				<string>Save State</string>
				<key>nds</key>
				<string>ROM</string>
			</dict>
		</dict>
		<key>0.9.10</key>
		<dict>
			<key>Cocoa</key>
			<dict>
				<key>dsv</key>
				<string>ROM Save</string>
				<key>dct</key>
				<string>Cheat</string>
				<key>dfc</key>
				<string>Firmware Configuration</string>
				<key>lua</key>
				<string>Lua Script</string>
				<key>dst</key>
				<string>Save State</string>
				<key>nds</key>
				<string>ROM</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
