Source: desmume
Section: games
Priority: extra
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Uploaders: Pascal Giard <pascal@debian.org>,
 Evgeni Golov <evgeni@debian.org>
Build-Depends: debhelper (>= 9), libglade2-dev, libgtk2.0-dev, libsdl1.2-dev,
 libosmesa6-dev, libagg-dev, intltool, quilt, libgtkglext1-dev, libtinyxml-dev,
 libsoundtouch-dev, dh-autoreconf, meson, libsdl2-dev, libpcap-dev, libgtk-3-dev,
 cmake, libopenal-dev
Standards-Version: 3.9.6
Homepage: http://desmume.org/
Vcs-Svn: svn://anonscm.debian.org/pkg-games/packages/trunk/desmume/
Vcs-Browser: http://anonscm.debian.org/viewvc/pkg-games/packages/trunk/desmume/

Package: desmume
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Nintendo DS emulator
 DeSmuME is a Nintendo DS emulator running homebrew demos and commercial games.
 .
 This package includes all three binaries:
   * desmume: gtk user interface;
   * desmume-glade: gtk-glade user interface;
   * desmume-cli: command line user interface
