#!/usr/bin/make -f
LDFLAGS=""
export LDFLAGS
CFLAGS=""
export CFLAGS
FFLAGS=""
export FFLAGS
FCFLAGS=""
export FCFLAGS
DEB_CFLAGS_SET=""
export DEB_CFLAGS_SET
DEB_CXXFLAGS_SET=""
export DEB_CXXFLAGS_SET
DEB_FFLAGS_SET=""
export DEB_FFLAGS_SET
DEB_FCFLAGS_SET="" 
export DEB_FCFLAGS_SET
DEB_LDFLAGS_SET=""
export DEB_LDFLAGS_SET


%:
	dh $@ --buildsystem=meson --sourcedir=desmume/src/frontend/posix --builddir=desmume/src/frontend/posix/build
