[Desktop Entry]
Version=1.0
Type=Application
Name=DeSmuME (WxWidgets)
Comment=Nintento DS emulator
TryExec=wxdesmume
Exec=wxdesmume
Icon=DeSmuME
Categories=GNOME;GTK;Game;Emulator;
MimeType=application/x-nintendo-ds-rom;
