<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>desmume-cli</string>
	<key>CFBundleGetInfoString</key>
	<string>desmume CLI</string>
	<key>CFBundleIdentifier</key>
	<string>org.desmume.desmume.cli</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Desmume CLI</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
</dict>
</plist>
